/* 유저 평가 */
#myform fieldset {
  display: inline-block;
  direction: rtl;
  border: 0;
  border-bottom: 1px solid #f0f0f0;
}
#myform input[type="radio"] {
  display: none;
}
#myform label {
  font-size: 3em;
  color: #f0f0f0;
}
#myform label:hover {
  color: rgba(250, 208, 0, 0.99);
}
#myform label:hover ~ label {
  color: rgba(250, 208, 0, 0.99);
}
#myform input[type="radio"]:checked ~ label {
  color: rgba(250, 208, 0, 0.99);
}
#myform #reviewText {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: solid 1.5px #d3d3d3;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
}
